---
import { Image } from 'astro:assets'

import PageLayout from '@/layouts/CommonPage.astro'
import ProjectSection from '@/components/projects/ProjectSection.astro'

const headings = [
  { depth: 2, slug: 'programs', text: 'Programs' }
]
---

<PageLayout title='Projects' {headings} view>
  <p>Github Activities:</p>
  <p>
    <Image
      src='https://ghchart.rshah.org/659eb9/Linqiyu-0921'
      alt='github activities'
      inferSize
      loading='lazy'
    />
  </p>

  <h2 id='programs'>Programs</h2>
  <ProjectSection
    projects={[
      {
        name: '个人网站',
        description: '基于 Astro Theme Pure 的个人网站',
        links: [
          { type: 'github', href: 'https://github.com/Linqiyu-0921/LaneQiyu' },
          { type: 'site', href: 'https://laneqiqu.pages.dev/' }
        ]
      }
    ]}
  />
</PageLayout>
