---
import { Image } from 'astro:assets'
import { getCollection } from 'astro:content'

import PageLayout from '@/layouts/CommonPage.astro'
import ProjectSection from '@/components/projects/ProjectSection.astro'

const projects = await getCollection('projects')
const sortedProjects = projects.sort((a, b) => (a.data.order || 999) - (b.data.order || 999))

const headings = [
  { depth: 2, slug: 'programs', text: 'Programs' }
]
---

<PageLayout title='Projects' {headings} view>
  <p>Github Activities:</p>
  <p>
    <Image
      src='https://ghchart.rshah.org/659eb9/Linqiyu-0921'
      alt='github activities'
      inferSize
      loading='lazy'
    />
  </p>

  <h2 id='programs'>Programs</h2>
  <ProjectSection
    projects={sortedProjects.map((p) => ({
      name: p.data.title,
      description: p.data.description,
      links: p.data.links.map((l) => ({ type: l.type, href: l.href }))
    }))}
  />
</PageLayout>
